<!-- wp:template-part {"slug":"header-intstudent"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:heading -->
<h2 class="wp-block-heading"><strong>Navigating Success Together</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontFamily":"lato"} -->
<p class="has-lato-font-family">To my fellow international students, I salute the strength behind the decisions that brought us here. In the valley, let's stand united as we navigate this journey together. It's not just about finding success; it's about creating it. As we tread this path, remember, your dreams are valid, your resilience is unmatched, and success awaits. Let's support each other and make our time in the valley a chapter of triumph. Cheers to our shared journey and the success stories we'll create! 🌍🚀</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:heading {"level":3,"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} -->
<h3 class="wp-block-heading" style="padding-top:0;padding-bottom:0">Check List</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"16px"}}} -->
<p style="font-size:16px">Click the following links for more information</p>
<!-- /wp:paragraph -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center","backgroundColor":"contrast"} -->
<div class="wp-block-column is-vertically-aligned-center has-contrast-background-color has-background"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-left has-base-color has-text-color has-link-color">1. <strong><strong><strong><a href="/ValleyLife/international-students/phone-number/">Phone Number</a></strong></strong></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"%","backgroundColor":"contrast"} -->
<div class="wp-block-column is-vertically-aligned-center has-contrast-background-color has-background"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-left has-base-color has-text-color has-link-color"><a href="/ValleyLife/international-students/study-permit/"><strong>2. Study Permit</strong></a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","backgroundColor":"contrast"} -->
<div class="wp-block-column is-vertically-aligned-center has-contrast-background-color has-background"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-left has-base-color has-text-color has-link-color">3. <strong><a href="/ValleyLife/international-students/provincial-identity-card/">Provincial Identity Card</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center","backgroundColor":"contrast"} -->
<div class="wp-block-column is-vertically-aligned-center has-contrast-background-color has-background"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-left has-base-color has-text-color has-link-color">4. <strong><strong><a href="/ValleyLife/international-students/health-card/">Health Card</a></strong></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"%","backgroundColor":"contrast"} -->
<div class="wp-block-column is-vertically-aligned-center has-contrast-background-color has-background"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-left has-base-color has-text-color has-link-color">5. <strong><a href="/ValleyLife/international-students/social-insurance-number/">Social Insurance Number</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","backgroundColor":"contrast"} -->
<div class="wp-block-column is-vertically-aligned-center has-contrast-background-color has-background"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-left has-base-color has-text-color has-link-color">6. <strong><a href="/ValleyLife/international-students/bank-account/">Bank Account</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center","backgroundColor":"contrast"} -->
<div class="wp-block-column is-vertically-aligned-center has-contrast-background-color has-background"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-left has-base-color has-text-color has-link-color">8. <strong><a href="/ValleyLife/international-students/student-identification-card/">Student Identification Card</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","backgroundColor":"contrast"} -->
<div class="wp-block-column is-vertically-aligned-center has-contrast-background-color has-background"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-left has-base-color has-text-color has-link-color">9. <strong><a href="/ValleyLife/international-students/bus-pass/">Bus Pass</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"%","backgroundColor":"contrast"} -->
<div class="wp-block-column is-vertically-aligned-center has-contrast-background-color has-background"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-left has-base-color has-text-color has-link-color">10. Driving Licence(Optional)</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->