<!-- wp:template-part {"slug":"header-intstudent"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading"><strong>Navigating Success Together</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontFamily":"lato"} -->
<p class="has-lato-font-family">To my fellow international students, I salute the strength behind the decisions that brought us here. In the valley, let's stand united as we navigate this journey together. It's not just about finding success; it's about creating it. As we tread this path, remember, your dreams are valid, your resilience is unmatched, and success awaits. Let's support each other and make our time in the valley a chapter of triumph. Cheers to our shared journey and the success stories we'll create! 🌍🚀</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Check List</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"16px"}}} -->
<p style="font-size:16px">Click the following links for more information</p>
<!-- /wp:paragraph -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><strong><strong><strong><a href="/Project-Valleylife/home/international-students/phone-number/">Phone Number</a></strong></strong></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"%"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><a href="/Project-Valleylife/home/international-students/study-permit/"><strong>Study Permit</strong></a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><strong><a href="/Project-Valleylife/home/international-students/provincial-identity-card/">Provincial Identity Card</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><strong><strong><a href="/Project-Valleylife/home/international-students/health-card/">Health Card</a></strong></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"%"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><strong><a href="/Project-Valleylife/home/international-students/social-insurance-number/">Social Insurance Number</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><strong><a href="/Project-Valleylife/home/international-students/bank-account/">Bank Account</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><strong><a href="/Project-Valleylife/home/international-students/student-identification-card/">Student Identification Card</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><strong><a href="/Project-Valleylife/home/international-students/bus-pass/">Bus Pass</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"%"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->