<!-- wp:template-part {"slug":"header-1"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:bcn/breadcrumb-trail /-->

<!-- wp:heading -->
<h2 class="wp-block-heading">Provincial Identity Card</h2>
<!-- /wp:heading -->

<!-- wp:shortcode -->
[sp_easyaccordion id="448"]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->