<!-- wp:template-part {"slug":"header-copy"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontSize":"40px"}}} -->
<h2 class="wp-block-heading" style="font-size:40px">Planning Your Trip</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Embark on an stress-free journey with ValleyLife’s comprehensive travel guides, ensuring a smooth transition to the Comox Valley. Access essential information on transportation, accommodations, and local attractions, empowering newcomers to plan and enjoy their arrival with confidence.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->